<label>Name: </label><%= @user.name %>
<label>Ticket: </label><%= @user.tickets %>
<label>Mood: </label><%= @user.mood %>
<label>Height: </label><%= @user.height %>
<label>ADMIN: </label><%= @user.admin %>

